body {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    font-family: "Roboto"; sans-serif;
    align-items: center;
}

body * {
    box-sizing: border-box;
}

.headerContainer {
    width: 100%;
    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: auto;
    width: 60%;
}

header img {
    height: auto;
    width: 100px;
    margin-left: -32px;
}

.links {
    display: flex;
    gap: 2em;
    justify-content: flex-end;
}

a {
    color: white;
    text-decoration: none;
    width: auto;
}

.intro-section {
    display: flex;
    justify-content: center;
    margin: 48px auto;
    width: 60%;
    gap: 48px;
}

.intro-section img {
    width: 400px;
    height: auto;
}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    padding: 16px 0px;
}

.left-content button {
    background-color: #3882F6;
    border: 0px;
    width: 100px;
    padding: 0.5em;
}

h1, p {
    margin: 0px;
}

h1 {
    color: #F9FAF8;
}

.left-content p {
    color: #E5E7EB;
}

button {
    border-radius: 8px;
}

button a {
    font-weight: 700;
}